@using Microsoft.AspNetCore.Html;
@model HomeVM

@{
    ViewData["Title"] = "Home Page";
}


<!-- banner-area -->
<section class="banner-area banner-bg" data-background="assets/img/banner/banner_bg01.jpg">
    <div class="container custom-container">
        <div class="row">
            <div class="col-xl-6 col-lg-8">
                <div class="banner-content">
                    <h6 class="sub-title wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.8s">@Model.Banner.BrandName</h6>
                    <h2 class="title wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1.8s">@Model.Banner.Description</h2>
                    <div class="banner-meta wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1.8s">
                        <ul>
                            <li class="quality">
                                <span>@Model.Banner.Status</span>
                                <span>@Model.Banner.Quality</span>
                            </li>
                            <li class="category">
                                @foreach (var category in Model.Banner.Categories)
                                {
                                    <a href="#">@category.Name</a>
                                }
                            </li>
                            <li class="release-time">
                                <span><i class="far fa-calendar-alt"></i> @Model.Banner.ReleaseDate.ToString("yyyy")</span>
                                <span><i class="far fa-clock"></i> @Model.Banner.Duration min</span>
                            </li>
                        </ul>
                    </div>
                    <a href="@Model.Banner.TeaserUrl" class="banner-btn btn popup-video wow fadeInUp" data-wow-delay=".8s" data-wow-duration="1.8s"><i class="fas fa-play"></i> Watch Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--banner-area-end-->
<!--up-coming-movie-area-->
<section class="ucm-area ucm-bg" data-background="assets/img/bg/ucm_bg.jpg">
    <div class="ucm-bg-shape" data-background="assets/img/bg/ucm_bg_shape.png"></div>
    <div class="container">
        <div class="row align-items-end mb-55">
            <div class="col-lg-6">
                <div class="section-title text-center text-lg-left">
                    <span class="sub-title">ONLINE STREAMING</span>
                    <h2 class="title">Upcoming Movies</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ucm-nav-wrap">
                    <ul class="nav nav-tabs type" id="myTab" role="tablist">
                        @foreach (var item in Model.Types)
                        {
                            <li class="nav-item" role="presentation">
                                <a class="nav-link tab" id="@item.Name-tab" data-id="@item.Name" data-toggle="tab" role="tab" aria-controls="@item.Name" aria-selected="true">@item.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content" id="myTabContent">
            @foreach (var item in Model.Types)
            {
                <div class="tab-pane" id="@item.Name" role="tabpanel" aria-labelledby="@item.Name-tab">
                    <div class="ucm-active owl-carousel">
                        @foreach (var movie in Model.Upcomings)
                        {
                            if (movie.Type.Name == item.Name)
                            {
                                <div class="movie-item mb-50" data-id="@movie.Type.Name">
                                    <div class="movie-poster">
                                        <a href="movie-details.html"><img src="~/assets/img/poster/@movie.ImageUrl" alt=""></a>
                                    </div>
                                    <div class="movie-content">
                                        <div class="top">
                                            <h5 class="title"><a href="movie-details.html">@movie.Name</a></h5>
                                            <span class="date">@movie.ReleaseDate</span>
                                        </div>
                                        <div class="bottom">
                                            <ul>
                                                <li><span class="quality">hd</span></li>
                                                <li>
                                                    <span class="duration"><i class="far fa-clock"></i> @movie.Duration min</span>
                                                    <span class="rating"><i class="fas fa-thumbs-up"></i> @movie.Point</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- up-coming-movie-area-end -->
<!-- services-area -->
<section class="services-area services-bg" data-background="assets/img/bg/services_bg.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="services-img-wrap">
                    <img src="~/assets/img/images/@Model.Service.ImageUrl" alt="">
                    <a href="assets/img/images/@Model.Service.ImageUrl" class="download-btn" download>Download <img src="fonts/download.svg" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-content-wrap">
                    <div class="section-title title-style-two mb-20">
                        <span class="sub-title">Our Services</span>
                        <h2 class="title">@Model.Service.Title</h2>
                    </div>
                    <p>
                        @Model.Service.Description
                    </p>
                    <div class="services-list">
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class="flaticon-television"></i>
                                </div>
                                <div class="content">
                                    <h5>@Model.Service.SubTitle1</h5>
                                    <p>@Model.Service.SubDescription1</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="flaticon-video-camera"></i>
                                </div>
                                <div class="content">
                                    <h5>@Model.Service.SubTitle2</h5>
                                    <p>@Model.Service.SubDescription2</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- services-area-end -->
<!-- top-rated-movie -->
<section class="top-rated-movie tr-movie-bg" data-background="assets/img/bg/tr_movies_bg.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center mb-50">
                    <span class="sub-title">ONLINE STREAMING</span>
                    <h2 class="title">Top Rated Movies</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="tr-movie-menu-active text-center">
                    <button class="active" data-filter="*">All</button>
                    @foreach (var item in Model.Categories)
                    {
                        <button class="" data-filter=".@item.Name">@item.Name</button>

                    }
                </div>
            </div>
        </div>
        <div class="row tr-movie-active">

            @foreach (var topRated in Model.TopRateds)
            {

                <div class="col-xl-3 col-lg-4 col-sm-6 grid-item grid-sizer  @foreach (var topRatedCategory in topRated.TopRatedCategories) {  @Html.Raw(topRatedCategory.Category.Name + " ");}">
                    <div class="movie-item mb-60">
                        <div class="movie-poster">
                            <a href="movie-details.html"><img src="~/assets/img/poster/@topRated.ImageUrl" alt=""></a>
                        </div>
                        <div class="movie-content">
                            <div class="top">
                                <h5 class="title"><a href="movie-details.html">@topRated.Name</a></h5>
                                <span class="date">@topRated.ReleaseDate.ToString("yyyy")</span>
                            </div>
                            <div class="bottom">
                                <ul>
                                    <li><span class="quality">@topRated.Quality</span></li>
                                    <li>
                                        <span class="duration"><i class="far fa-clock"></i> @topRated.Duration min</span>
                                        <span class="rating"><i class="fas fa-thumbs-up"></i> @topRated.Point</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- top-rated-movie-end -->
<!-- live-area -->
<section class="live-area live-bg fix" data-background="assets/img/bg/live_bg.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6">
                <div class="section-title title-style-two mb-25">
                    <span class="sub-title">ONLINE STREAMING</span>
                    <h2 class="title">@Model.Streaming.Title</h2>
                </div>
                <div class="live-movie-content">
                    <p>
                        @Model.Streaming.Description
                    </p>
                    <div class="live-fact-wrap">
                        <div class="resolution">
                            <h2>@Model.Streaming.Quality</h2>
                        </div>
                        <div class="active-customer">
                            <h4><span class="odometer" data-count="@Model.Streaming.ActiveCustomer"></span>K+</h4>
                            <p>Active Customer</p>
                        </div>
                    </div>
                    <a href="https://www.youtube.com/watch?v=R2gbPxeNk2E" class="btn popup-video"><i class="fas fa-play"></i> Watch Now</a>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6">
                <div class="live-movie-img wow fadeInRight" data-wow-delay=".2s" data-wow-duration="1.8s">
                    <img src="~/assets/img/images/@Model.Streaming.ImageUrl" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- live-area-end -->
<!-- tv-series-area -->
<section class="tv-series-area tv-series-bg" data-background="assets/img/bg/tv_series_bg.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center mb-50">
                    <span class="sub-title">Best TV Series</span>
                    <h2 class="title">World Best TV Series</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">

            @foreach (var bestSeries in Model.BestSeries)
            {
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="movie-item mb-50">
                        <div class="movie-poster">
                            <a href="movie-details.html"><img src="~/assets/img/poster/@bestSeries.ImageUrl" alt=""></a>
                        </div>
                        <div class="movie-content">
                            <div class="top">
                                <h5 class="title"><a href="movie-details.html">@bestSeries.Name</a></h5>
                                <span class="date">@bestSeries.ReleaseDate.ToString("yyyy")</span>
                            </div>
                            <div class="bottom">
                                <ul>
                                    <li><span class="quality">@bestSeries.Quality</span></li>
                                    <li>
                                        <span class="duration"><i class="far fa-clock"></i> @bestSeries.Duration min</span>
                                        <span class="rating"><i class="fas fa-thumbs-up"></i> @bestSeries.Point</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- tv-series-area-end -->
<!-- newsletter-area -->
@await Html.PartialAsync("_TrialTestPartial", Model.TrialTest)

<!-- newsletter-area-end -->

