@model BlogDetailVM
    <!-- breadcrumb-area -->
<section class="breadcrumb-area breadcrumb-bg" data-background="../../assets/img/bg/breadcrumb_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="title">News Details</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->
<!-- blog-details-area -->
<section class="blog-details-area blog-bg" data-background="../../assets/img/bg/blog_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-post-item blog-details-wrap">
                    <div class="blog-post-thumb">
                        <img src="~/assets/img/blog/@Model.Blog.ImageUrl" alt="">
                    </div>
                    <div class="blog-post-content">
                        <div class="blog-details-top-meta">
                            <span class="user"><i class="far fa-user"></i> by <a href="#">Admin</a></span>
                            <span class="date"><i class="far fa-clock"></i> @Model.Blog.Date</span>
                        </div>
                        <h2 class="title">@Model.Blog.Title</h2>
                        <p>
                            @Model.Blog.DescTop
                        </p>
                        <blockquote>
                            <i class="fas fa-quote-right"></i>
                            <p>@Model.Blog.Quote</p>
                            <figure><span>@Model.Blog.QuoteAuthor</span> @Model.Blog.QuoteAuthorProfession</figure>
                        </blockquote>
                        <div class="blog-img-wrap">
                            <div class="row">
                                @foreach (var item in Model.Blog.BlogContentImages)
                                {
                                    <div class="col-sm-6">
                                        <img src="~/assets/img/blog/@item.ImageUrl" alt="">
                                    </div>
                                }

                            </div>
                        </div>
                        <p>
                            @Model.Blog.DescBottom

                        </p>
                        <div class="blog-post-meta">
                            <div class="blog-details-tags">
                                <ul>
                                    <li><i class="fas fa-tags"></i> <span>Tags :</span></li>
                                    <li>
                                        @foreach (var item in Model.Blog.BlogTags)
                                        {
                                                <a href="#">@item.Tag.Name </a>
                                        }
                                    </li>
                                </ul>
                            </div>
                            <div class="blog-post-share">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="avatar-post mt-40 mb-80">
                    <div class="post-avatar-img">
                        <img src="~/assets/img/blog/post_avatar_img.png" alt="img">
                    </div>
                    <div class="post-avatar-content">
                        <h5>@Model.Blog.QuoteAuthor</h5>
                        <p>
                            Printing and typetting industry. Lorem Ipsum has been the instry standrd the dummy
                            text ever since the, when an unknown printer took a galley .
                        </p>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="blog-comment mb-80">
                    <div class="widget-title mb-45">
                        <h5 class="title">Comment's (@(Model.Blog.Comments.Count))</h5>
                    </div>

                    <ul>
                        @if (Model.Blog.Comments.Count != 0)
                        {
                            @foreach (var comment in Model.Blog.Comments)
                            {
                                <li>
                                    <div class="single-comment">
                                        <div class="comment-avatar-img">
                                            <img src="~/assets/img/blog/app-icon-set-login-icon-comments-avatar-icon-11553436380yill0nchdm.png" alt="img">
                                        </div>
                                        <div class="comment-text">
                                            <div class="comment-avatar-info">
                                                <h5>@comment.AppUser.FullName <span class="comment-date">@comment.CreatedDate.ToString("MMMM dd, yyyy")</span></h5>
                                                @if (comment.AppUserId == ViewBag.UserId)
                                                {
                                                    <a asp-action="DeleteComment" asp-route-commentId="@comment.Id" class="comment-reply-link">Delete <i class="fa-solid fa-trash"></i></a>
                                                }
                                            </div>
                                            <p>
                                                @comment.Message
                                            </p>
                                        </div>

                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <p>No Comments</p>
                        }


                    </ul>
                </div>
                <div class="contact-form-wrap">
                    <div class="widget-title mb-50">
                        <h5 class="title">Post a Comment</h5>
                    </div>
                    <div class="contact-form">
                        <form asp-action="AddComment" method="post">
                            <input type="hidden" name="blogId" value="@Model.Blog.Id" />

                            <textarea name="commentMessage" placeholder="Type Your Message..."></textarea>
                            <button class="btn">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="blog-sidebar">
                    <div class="widget blog-widget">
                        <div class="widget-title mb-30">
                            <h5 class="title">Search Blogs</h5>
                        </div>
                        <form action="#" class="sidebar-search">
                            <input id="inputBlog-search" type="text" placeholder="Search..." name="search">
                            <button><i class="fas fa-search"></i></button>
                        </form>
                        <ul class="list-group" id="searchBlogList">
                        </ul>
                    </div>
                    @await Html.PartialAsync("_CategoryPartial", Model.Categories)


                    <div class="widget blog-widget">
                        <div class="widget-title mb-30">
                            <h5 class="title">Recent Posts</h5>
                        </div>
                        <div class="rc-post">
                            <ul>
                                @foreach (var item in Model.RecentBlogs)
                                {
                                    <li class="rc-post-item">
                                        <div class="thumb">
                                            <a href="blog-details.html"><img style="max-width:100%; max-height:100%;" src="~/assets/img/blog/@item.ImageUrl" alt=""></a>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a asp-action="Detail" asp-route-id="@item.Id">@item.Title</a></h5>
                                            <span class="date"><i class="far fa-clock"></i> @item.Date.ToString("dd MMM yyyy")</span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                    @await Html.PartialAsync("_TagPartial", Model.Tags)


                </aside>
            </div>
        </div>
    </div>
</section>
<!-- blog-area-end -->
<!-- newsletter-area -->

@await Html.PartialAsync("_TrialTestPartial", Model.TrialTest)

<!-- newsletter-area-end -->
