@model BlogVM
    <!-- main-area -->
<!-- breadcrumb-area -->
<section class="breadcrumb-area breadcrumb-bg" data-background="assets/img/bg/breadcrumb_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="title">News Update</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog Page</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->
<!-- blog-area -->
<section class="blog-area blog-bg" data-background="assets/img/bg/blog_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @foreach (var item in Model.Blogs)
                {
                    <div class="blog-post-item">
                        <div class="blog-post-thumb">
                            <a asp-action="Detail" asp-route-id="@item.Id"><img src="assets/img/blog/@item.ImageUrl" alt=""></a>
                        </div>
                        <div class="blog-post-content">
                            <span class="date"><i class="far fa-clock"></i> @item.Date.ToString("dd MMM yyyy")</span>
                            <h2 class="title"><a asp-action="Detail" asp-route-id="@item.Id">@item.Title</a></h2>
                            <p>
                                @if (item.DescTop.Length >= 411)
                                {
                                    @item.DescTop.Substring(0, 410)
                                }
                                else
                                {
                                    @item.DescTop;
                                }

                            </p>
                            <div class="blog-post-meta">
                                <ul>
                                    <li><i class="far fa-user"></i> by <a href="#">Admin</a></li>
                                    <li><i class="far fa-thumbs-up"></i> @item.Like</li>
                                    <li><i class="far fa-comments"></i><a href="#">@item.Comments.Count Comments</a></li>
                                </ul>
                                <div class="read-more">
                                    <a href="blog-details.html">Read More <i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="pagination-wrap mt-60">
                    <nav>
                        <ul>
                            @for (int i = 1; i <= Model.Pagination.PageCount; i++)
                            {
                                <li class="page-item @(Model.Pagination.CurrentPage==i?"disabled":"")">
                                    <a class="page-link" asp-action="index" asp-route-page="@i" tabindex="-1">@i</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="blog-sidebar">
                    <div class="widget blog-widget">
                        <div class="widget-title mb-30">
                            <h5 class="title">Search Blogs</h5>
                        </div>
                        <form action="#" class="sidebar-search">
                            <input id="inputBlog-search" type="text" placeholder="Search..." name="search">
                            <button><i class="fas fa-search"></i></button>
                        </form>
                        <ul class="list-group" id="searchBlogList">
                        </ul>
                    </div>
                    @await Html.PartialAsync("_CategoryPartial", Model.Categories)


                    <div class="widget blog-widget">
                        <div class="widget-title mb-30">
                            <h5 class="title">Recent Posts</h5>
                        </div>
                        <div class="rc-post">
                            <ul>
                                @foreach (var item in Model.RecentBlogs)
                                {
                                    <li class="rc-post-item">
                                        <div class="thumb">
                                            <a href="blog-details.html"><img style="max-width:100%; max-height:100%;" src="assets/img/blog/@item.ImageUrl" alt=""></a>
                                        </div>
                                        <div class="content">
                                            <h5 class="title"><a asp-action="Detail" asp-route-id="@item.Id">@item.Title</a></h5>
                                            <span class="date"><i class="far fa-clock"></i> @item.Date.ToString("dd MMM yyyy")</span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                    @await Html.PartialAsync("_TagPartial", Model.Tags)


                </aside>
            </div>
        </div>
    </div>
</section>
<!-- blog-area-end -->
<!-- newsletter-area -->

@await Html.PartialAsync("_TrialTestPartial", Model.TrialTest)

<!-- newsletter-area-end -->
<!-- main-area-end -->