@using Backend.Helpers
@model Blog

<style>
    td {
        white-space: pre-wrap !important;
    }
</style>
<div class="col-lg-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-contextual">
                    <thead>
                        <tr>
                            <th> Image </th>
                            <th> Title </th>
                            <th> Date </th>
                            <th> Quote </th>
                            <th> QuoteAuthor </th>
                            <th> QuoteAuthorProfession </th>
                            <th> Like </th>
                            <th> DescTop </th>
                            <th> DescBottom </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-color">
                            <td> <img src="~/assets/img/blog/@Model.ImageUrl" style="height:80px; width:80px;" /></td>
                            <td> @Model.Title</td>
                            <td> @Model.Date </td>
                            <td> @Model.Quote</td>
                            <td> @Model.QuoteAuthor</td>
                            <td> @Model.QuoteAuthorProfession</td>
                            <td> @Model.Like</td>
                            <td> @Model.DescTop</td>
                            <td> @Model.DescBottom</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a asp-action="index" class="btn btn-warning">Back</a>

        </div>
    </div>
</div>

